<%= render 'shared/navbar' %>
<div class='container'>
<h1 class='title'>Name</h1>
<div class='recipe' >
  <div>
  <h3>Recipe Name</h3>
  <p>remove</p>
  </div>
  <div>
  <p>This recipe requires 30 minutes,
  1 bowl, and just 3 ingredients: salt,
  water (which we don’t count as an ingredient),
  oil for cooking, and areparina or masarepa,
  which is a special pre-cooked corn flour specifically
  for making arepas.</p>
  </div>
</div>
</div>
