<table class="table">
  <thead class="table-dark">
    <tr class="food-items-titles">
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <%= yield %>
  </tbody>
</table>
