<%= render 'shared/navbar' %>
<div class='container'>
<div class='header-box'>
  <h1 class='title'>Foods</h1>
  <%= button_to 'New Food', class: 'actions' %>
</div>
<table class='table'>
  <tr>
    <th>Food</th>
    <th>Measurement Unit</th>
    <th>Unit Price</th>
    <th>Actions</th>
  </tr>

  <% @foods.each do |food| %>
    <tr>
      <td><%= food%></td>
      <td>Grams</td>
      <td>5$</td>
      <td>Delete</td>
    </tr>
  <% end %>
</table>
</div>
