* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://media.istockphoto.com/id/1197208940/vector/vegetables-indian-spices-for-chicken-curry-isolated-on-white.jpg?s=612x612&w=0&k=20&c=BB6qecXodmEhhEZ035qhaMjAEZ0NUcijaHScQN82OQk=);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 100%;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: moccasin;
}

.navbar-group {
  display: flex;
  gap: 1.5rem;
  color: black;
  padding: 0 1rem;
}

.navbar-group a {
  color: black;
}

.navbar-group a:hover {
  color: cadetblue;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.header-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 0 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 2.5rem 0;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-bottom: 1rem;
}

.box-registration {
  padding: 0.3rem;
  height: 1.5rem;
  width: 15rem;
}

.actions {
  width: max-content;
  height: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 0;
  font-weight: bold;
}

.remember {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.menu-button {
  gap: 1rem;
  margin-left: 0;
  display: flex;
  flex-direction: row;
}

/* public recipe */

.public-recipe {
  width: 60%;
  border: 2px solid #000;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.recipe {
  width: 60%;
  border: 2px solid #000;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* tables */

.table {
  width: 80%;
  margin: 0 auto;
  border: 2px solid #000;
}

.table th {
  text-align: left;
  width: auto;
  height: 1.5rem;
  background-color: grey;
  margin: 0;
  padding: 0.5rem;
  color: white;
  font-style: oblique;
}

.table td {
  text-align: left;
  width: auto;
  height: 1.5rem;
  margin: 0;
  padding: 0.5rem;
}

.table tr:nth-child(even) {
  background-color: lightgray;
}

.table tr:nth-child(odd) {
  background-color: white;
}

/* Styles and Layout for the Recipes index page */

.index-recipe,
.show_recipe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.recipe-card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 65%;
}

.recipe-card {
  border: 1px solid black;
  border-radius: 5px;
  display: grid;
  width: 100%;
  padding: 10px;
  gap: 10px;
  grid-template-columns: 35% 65%;
  grid-template-rows: 100%;
}

.recipe-name-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.recipe-name-div h2 {
  margin: 0;
}

/* Styles and Layout for the Recipe Show page */

.recipe-header-public {
  display: flex;
  justify-content: center;
}

.recipe-info span {
  text-align: end;
}

.recipe-info ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  padding: 0;
}

.recipe-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px black;
  padding-bottom: 1rem;
}

.delete {
  color: cadetblue;
}

.delete:hover {
  text-decoration: underline;
}
